# **Data Types and Structures**

1. What are data structures and their importance.

A data structure is a method of organizing and storing data so that it can be accessed and modified efficiently.
Examples include lists, tuples, dictionaries, and sets in Python.
Importance:
•	Enables efficient data processing and access
•	Helps solve complex problems effectively
•	Supports reusability and scalability

2.Explain the difference between mutable and immutable data types with examples:

•	Mutable types can be changed after creation. Example: list, dict, set
•	Immutable types cannot be changed once created. Example: int, float, str, tuple
Example:
my_list = [1, 2, 3]
my_list[0] = 10  # Allowed (mutable)

my_tuple = (1, 2, 3)
my_tuple[0] = 10  # Error! Tuples are immutable

In [ ]:
my_list = [1,2,3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

In [ ]:
my_tuple = (1,2,3)
my_tuple[0] = 10 # Error! Tuples are immutable
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

List is mutable Tuple is immutable
syntax: list [1,2,3] with square bracket
syntax: tuple (1,2,3) with simple bracket
tuple : fixed data
list : can be modified

4. Describe how dictionaries store data

Dictionaries store data as key-value pairs. Each key must be unique and is used to access its corresponding value efficiently.

Example:

student = {"name": "Alice", "age": 20}

print(student["name"])  # Output: Alice

In [ ]:
student = {"name": "Alice", "age": 20}

print(student["name"])  # Output: Alice

Alice

5. Why might you use a set instead of a list in Python?

Sets are used when:

•	need to store unique items (no duplicates)

want fast membership testing

Example:
my_set = {1, 2, 3, 3}  # Output: {1, 2, 3}

In [ ]:
my_set = {1,2,3,3,2,2,1,1,2,1,3,2,1,1,2,3}
print(my_set)

{1, 2, 3}

6. What is a string in Python, and how is it different from a list?

•	A string is an immutable sequence of characters: 'hello'

•	A list is a mutable sequence that can hold different data types: ['h', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?

Since tuples are immutable, their values cannot be changed. This makes them ideal for data that should remain constant throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?

Yes. Python lists are heterogeneous, meaning they can contain multiple data types.

Example: [1, "hello", 3.14, True]

10. Explain why strings are immutable in Python

Strings are immutable for:

•	Performance: Faster memory management

•	Security: Prevent accidental changes

•	Hashing: Allows use as dictionary keys

11. What advantages do dictionaries offer over lists for certain tasks?

a.	Faster lookup using keys (O(1) time complexity)

b. Key-value pairing helps organize data logically

c. More readable and flexible for structured data

12. Describe a scenario where using a tuple would be preferable over a list

A: Tuple to be used where data should not be changed like: Number of prayers in cricket team. Number of hours/ min in a day.

13. How do sets handle duplicate values in Python?

A: sets automatically removes duplicate values and print (only uinque items are stored).

14. How does the "in" keyword work differently for lists and dictionaries?

A: "in" keyword works for lists to check if the value is exists in the list
 and for dictionary checks if a "key" exists or not.

15. Can you modify the elements of a tuple? Explain why or why not.

A: tuple is immutable, so cannot be modified, add, remove or alter once created

16. What is a nested dictionary, and give an example of its use case

A: nested dictionary is the one where values themselves are dictionaries.

Examples:
Employee={
  "name": "John",
  "address": {"city": "Delhi", "zip": "110001"}
}

In [ ]:
Employee={
  "name": "John",
  "address": {"city": "Delhi", "zip": "110001"}
}
print(Employee)

{'name': 'John', 'address': {'city': 'Delhi', 'zip': '110001'}}

17. Describe the time complexity of accessing elements in a dictionary

Accessing elements by key in a dictionary is O(1) on average (constant time), thanks to the hash table implementation.

18. In what situations are lists preferred over dictionaries?

When data is ordered and sequential

When keys are not required

When items are accessed by index

Example: Maintaining a shopping cart list.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

In earlier Python versions (< 3.7), dictionaries were unordered. From Python 3.7+, insertion order is preserved, but it's not used for lookup key access is still done by hashing.

20. Explain the difference between a list and a dictionary in terms of data retrieval

List: Retrieve using index (e.g., list[0])

Dictionary: Retrieve using key (e.g., dict["name"])

Lists are position-based; dictionaries are key-based.

# **PRACTICAL QUESTION**

1. write a code to create a string with name and print

In [ ]:
name = "Sudhir Lima"
print(name)

Sudhir Lima

2. write a code to find length of string "Hello World"

In [ ]:
text = "Hello World"
length = len(text)
print(length)

11

3. write a code to slice the first 3 character from "Python Programming"

In [ ]:
text = "Python Programming"
slice = text[:3]
print(slice)
#

Pyt

4. wrote a code to convert 'hello' to uppercase

In [ ]:
text = "hello"
convert = text.upper()
print(convert)

HELLO

5. write a code to replace the word apple with orange in 'I like apple'

In [ ]:
text = "I like Apple"
convert = text.replace("Apple", "Orange")
print(convert)
#

6. write a code to create a list of numbers from 1 to 5 and print.

In [ ]:
i = 1
list = []
while i <= 5:
    list.append(i)
    i += 1
print(list)
#

[1, 2, 3, 4, 5]

7. write a code to append the number 10 to the list 1-4.

In [ ]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. write a code to remove the number 3 from the list

In [ ]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9. write a code to access 2nd element from the list

In [ ]:
list=['a', 'b', 'c', 'd']
print(list[1])

b

10. write a code to reverse the list

In [ ]:
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. write a code with tuple and print with 100,200,300

In [ ]:
# Create tuple
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access second to last element of tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

13. write a code to find the minimum number of tuple(10,20,5,15)

In [ ]:
my_tuple = (10,20,5,15)
print(min(my_tuple))

5

14. Write a code to find the index of the element "cat" in the tuple('dog', 'cat','rabbit')

In [ ]:
my_tuple = ('dog', 'cat','rabbit')
print(my_tuple.index('cat'))

1

15. Write a code to creat a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
my_tuple = ('apple', 'banana', 'orange')
print('kiwi' in my_tuple)

False

16. Write a code to creat a set with the elements 'a','b', 'c' and print

In [1]:
set = {'a', 'b', 'c'}
print(set)
#

{'c', 'b', 'a'}

17. write a code to clear all elements from set {1,2,3,4,5}

In [2]:
set = {1,2,3,4,5}
set.clear()
print(set)

set()

18. write a code to remove the element 4 from set {1,2,3,4,5}

In [3]:
set = {1,2,3,4,5}
set.remove(4)
print(set)
#

{1, 2, 3, 5}

19. write a code to print union of 2 sets {1,2,3} and {3,4,5}

In [4]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))
#

{1, 2, 3, 4, 5}

20. write a code to find intersection of 2 sets

In [5]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.intersection(set2))

{3}

21. write a code to find dictionary with keys "name", "age", city and print

In [7]:
dict = {"name": "John", "age": 25, "city": "New Delhi"}
print(dict)
#

{'name': 'John', 'age': 25, 'city': 'New Delhi'}

22. write a code to add new value-key pair "country":"USA" to dictionary {'name':"John", "age":25}

In [8]:
dict = {'name':"John", "age":25}
dict["country"] = "USA"
print(dict)
#
#

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with key 'name' in dict {'name': "Alice", 'age': 30}

In [9]:
dict = {'name': "Alice", 'age': 30}
print(dict['name'])
#
#

Alice

24. write a code to remove the key "age" from dict {'name': "Bob", 'age':22, 'city':"New York"}

In [10]:
dict = {'name': "Bob", 'age':22, 'city':"New York"}
del dict['age']
print(dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exist in the dict

In [13]:
dict = {'name': "Alice", 'age':22, 'city':"Paris"}
if 'city' in dict:
    print("City exists in the dictionary")
else:
    print("City does not exist in the dictionary")
print('city' in dict)

City exists in the dictionary
True

26. write a code to creat a list, tuple and dict and print

In [15]:
list = [1,2,3,4,5]
print(list)
tuple = (1,2,3,4,5)
print(tuple)
dict = {'name': "Alice", 'age':22, 'city':"Paris"}
print(dict)
#

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Alice', 'age': 22, 'city': 'Paris'}

27. write a code to create 5 random numbers between 1 & 100, sort in ascending order and print.

In [19]:
list = [33,21,73,46,59]
list.sort()
print(list)
list.reverse()
print(list)

[21, 33, 46, 59, 73]
[73, 59, 46, 33, 21]

28. Write a code to create a list with strings and print elements at 3rd index

In [20]:
list = ['a', 'b', 'c', 'd']
print(list[3])
#

d

29. write a code to combine 2 dict and print

In [21]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {**dict1, **dict2}
print(dict3)
#
#

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into set

In [ ]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert list to set
string_set = set(string_list)

# Print the result
print("Original list:", string_list)
print("Converted set:", string_set)